<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farm.core.farm.mapper.CropMapper" >
  <resultMap id="BaseResultMap" type="com.farm.base.farm.Crop" >
    <id column="id" property="id"  />
    <result column="name" property="name"  />
    <result column="type" property="type"  />
    <result column="image" property="image"  />
    <result column="create_time" property="createTime"  />
    <result column="update_time" property="updateTime"  />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, type, image,create_time, update_time
  </sql>

  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from crop
    where id = #{id}
  </select>

  <select id="listAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from crop
  </select>
  
  <delete id="delete" parameterType="java.lang.Long" >
    delete from crop
    where id = #{id}
  </delete>
  
  
  <insert id="insert" parameterType="com.farm.base.farm.Crop" >
    insert into crop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.farm.base.farm.Crop" >
    update crop
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>